# Folders
**/MPCACodes
**/UMPCACodes
# Ignore Work in Progress
**/*WIP

# Archive Files
*.tar*

# Media Files
# *.png
# *.jpg
# *.bmp
# *.tif
# *.avi
# *.mp4

# Documnets
*.doc
*.docx
#*.pdf
*.ppt
*.pptx
*.psd
*.xls
*.xlsx

## TeX / LaTeX Files
*.aux
*.log
*.synctex*
*.toc
*.out
*.bbl
*.blg
*.nav
*.snm
*.vrb
*eps-converted-to.pdf

# MATLAB Files
*.asv
*.m~

# Compilation files:
*.obj
*.pdb

# Jupyter Files
# See https://www.atlassian.com/git/tutorials/saving-changes/gitignore, https://stackoverflow.com/questions/8783093 and https://stackoverflow.com/a/36918878/195787
**/.ipynb_checkpoints/

# Output Figures Files
Figure*.png
